@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,wght@900;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.hero-container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    gap: 90px;
    align-items: center;
    margin: 0 auto;
    padding: 80px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 45%;
}

.hero-image {
    width: 55%;
    height: 280px;

}

.hero-main-text {
    font-size: 58px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    max-width: 110px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0;
}

.info-cards {
    display: flex;
    justify-content: center;
}
.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 0 40px;
    text-align: center;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 200px;
    margin: 100px auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}


